.feedGrid{
    display: grid;
    grid-template-columns: [col1-start] 55% [col1-end col2-start] 45% [col2-end];
    grid-template-rows: [row1-start] 150px [row2-end row2-start] 100%;
    grid-template-areas:
            "leftheader rightheader"
            "wallposts events";
    justify-items: stretch;

}

.writePost{
    display: grid;
    grid-area: leftheader;
    background-color: #d8d8d8;
    justify-items: center;
}
.post-input{
    width: 80%;
    height: 70%;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: #ffb45e;
    resize: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.post-button{
    width: 30%;
    height: 60%;
}

.wall{
    display: grid;
    grid-template-rows: [wallRow1-start] 10% [wallRow1-end wallRow2-start] 100vh [wallRow2-end];
    grid-area: wallposts;
    background-color: #d8d8d8;
    justify-items: center;
}

.textPosts{
    display: grid;
    height: 80%;
    width: 80%;
    margin-top: 20px;
    background-color: #d8d8d8;
    align-content: start;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid black;
    resize: none;

}
.post{
    display: grid;
    grid-template-rows: [row1-start] auto [row1-end row2-start] auto;
    grid-template-columns: [col1-start] 50% [col1-end col2-start] 50% [col2-end];
    grid-template-areas:
                        "message message"
                        "name date";

    width: 38vw;

    background-color: #ffb45e;
    margin: 5px;
    font-size: 15px;
    height: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.message{
    grid-area: message;
    overflow: auto;
    height: 100%;
    border-bottom: 1px solid black;
}
.postedBy{
    grid-area: name;
    align-self: stretch;
    justify-self: center;
}
.datePosted{
    grid-area: date;
    align-self: stretch;
    justify-self: center;
}

.rightHeader{
    grid-area: rightheader;
    background-color: #d8d8d8;
}

.groupEvents{
    display: grid;
    grid-area: events;
    background-color: #d8d8d8;
}
