body{
    min-height: 100%;
    background-color: #f2f2f2;
}

.feedGrid p{
    color: black;
}

@media screen and (orientation: landscape) {
    .feedGrid {
        display: grid;
        grid-template-columns: [col1-start] 15% [col1-end col2-start] 70% [col2-end col3-start] 15% [col3-ennd];
        grid-template-rows: [row1-start] 25% [row2-end row2-start] 100%;
        grid-template-areas: "leftblankspace inputArea rightblankspace"
                                "leftblankspace wallposts rightblankspace";
        justify-items: stretch;
        min-height: 100%;
    }

    .writePost {
        display: grid;
        grid-template-rows: 75% 25%;
        grid-template-columns: 20% 40% 20% 20%;
        grid-template-areas: "leftspace postInput postInput rightspace"
                            "leftspace postText postButton rightspace";
        grid-area: inputArea;
        justify-items: stretch;
    }

    .post-input {
        grid-area: postInput;
        width: 100%;
        height: 75%;
        margin-bottom: 15px;
        margin-top: 20px;
        background-color: whitesmoke;
        resize: none;
        color: black;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 2px groove #040e1c;
        outline: none;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .writeCoolShit{
        grid-area: postText;
        font-size: 16px;
        align-self: center;
        justify-self: center;
        color: black;

    }

    .post-button {
        grid-area: postButton;
        width: 90%;
        height: 70%;
        justify-self: center;
    }

    .wall {
        display: grid;
        grid-template-rows: [wallRow1-start] 10% [wallRow1-end wallRow2-start] 100% [wallRow2-end];
        grid-area: wallposts;
        justify-items: center;
    }

    .textPosts {
        display: grid;
        height: 100%;
        width: 80%;
        margin-top: 20px;
        align-content: start;
        overflow: hidden;
        border: none;
        justify-items: center;
    }

    .post {
        display: grid;
        grid-template-rows: [row1-start] auto [row1-end row2-start] 24px;
        grid-template-columns: [col1-start] 50% [col1-end col2-start] 50% [col2-end];
        grid-template-areas: "message message" "name date";

        min-width: 75%;
        max-width: 75%;
        background-color: whitesmoke;
        margin: 5px;
        font-size: 15px;
        height: auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 2px groove #040e1c;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .message {
        display: grid;
        grid-area: message;
        justify-self: stretch;
        align-self: stretch;
        overflow: auto;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
    }

    .message p {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 18px;
    }

    .postedBy {
        display: grid;
        grid-area: name;
        justify-self: stretch;
        background-color: #040e1c;
    }

    .postedBy p {
        display: grid;
        font-size: 14px;
        /*color: white;*/
        justify-self: center;
        color: #0596c6;
    }

    .datePosted {
        display: grid;
        HEIGHT: 100%;
        grid-area: date;
        justify-self: stretch;
        background-color: #040e1c;
    }

    .datePosted p {
        display: grid;
        font-size: 14px;
        justify-self: center;
        color: #0596c6;
    }

    /* Old code for right side event-log concept

    .rightHeader {
        grid-area: rightheader;
        background-color: #d8d8d8;
    }

    .groupEvents {
        display: grid;
        grid-area: events;
        background-color: #d8d8d8;
    }*/
}



@media screen and (orientation: portrait) {
    .feedGrid {
        display: grid;
        grid-template-columns: [col1-start] 5% [col1-end col2-start] 90% [col2-end col3-start] 5%;
        grid-template-rows: [row1-start] 25% [row2-end row2-start] 100%;
        grid-template-areas: "leftspace inputArea rightspace"
                             "leftspace wallposts rightspace";
        justify-items: stretch;
        min-height: 100%;
        background-color: black;
    }

    .writePost {
        display: grid;
        grid-template-rows: 75% 25%;
        grid-template-columns: 5% 60% 30% 5%;
        grid-template-areas: "leftspace postInput postInput rightspace"
                             "leftspace postText postButton rightspace";
        grid-area: inputArea;
        justify-items: stretch;
        background-color: #f2f2f2;
    }

    .post-input {
        grid-area: postInput;
        width: 100%;
        height: 75%;
        margin-bottom: 15px;
        margin-top: 20px;
        background-color: whitesmoke;
        resize: none;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 2px groove #040e1c;
        outline: none;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .writeCoolShit{
        grid-area: postText;
        font-size: 16px;
        align-self: center;
        justify-self: center;
    }

    .post-button {
        grid-area: postButton;
        width: 90%;
        height: 70%;
        justify-self: center;
        padding: 0px;
    }

    .wall {
        display: grid;
        grid-template-rows: [wallRow1-start] 10% [wallRow1-end wallRow2-start] 100% [wallRow2-end];
        grid-area: wallposts;
        background-color: #ffffff;
        justify-items: center;
    }

    .textPosts {
        display: grid;
        height: 100%;
        width: 100%;
        margin-top: 20px;
        background-color: #f2f2f2;
        align-content: start;
        overflow-y: hidden;
        overflow-x: hidden;
        border: none;
        justify-items: center;
    }

    .post {
        display: grid;
        grid-template-rows: [row1-start] auto [row1-end row2-start] 24px [row2-end];
        grid-template-columns: [col1-start] 50% [col1-end col2-start] 50% [col2-end];
        grid-template-areas: "message message"
                              "name date";

        width: 90%;
        background-color: whitesmoke;
        margin: 5px;
        font-size: 15px;
        height: auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px groove #040e1c;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .message {
        display: grid;
        grid-area: message;
        justify-self: stretch;
        align-self: stretch;
        overflow: auto;
        height: 100%;

    }

    .message p {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 17px;
    }

    .postedBy {
        display: grid;
        height: 100%;
        grid-area: name;
        justify-self: stretch;
        background-color: #040e1c;
    }

    .postedBy p {
        display: grid;
        font-size: 13px;
        /*color: white;*/
        justify-self: center;
        color: #0596c6;
    }

    .datePosted {
        display: grid;
        height: 100%;
        grid-area: date;
        justify-self: stretch;
        background-color: #040e1c;
    }

    .datePosted p {
        display: grid;
        font-size: 13px;
        justify-self: center;
        color: #0596c6;
    }

    /*
    .rightHeader {
        display: none;
        grid-area: rightheader;
        background-color: #d8d8d8;
    }

    .groupEvents {
        display: none;
        grid-area: events;
        background-color: #d8d8d8;
    }*/
}