/* Base structure */

/*
 * Top navbar general
 */
    .navbar-light{
        background-color: #3d3b3b;
    }
    .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    }

    .navbarcontainer{
        width: 100%;
    }

    .username{
        padding-right: 3px;
        color: cadetblue;
    }
    .account:hover .username{
        color: black;
    }

    .groupdropdown{
        background-color: lightgrey;
        left: 50%;
        right: 50%;
        transform: translateX(-30%);
    }
    .groupName{
        color: cadetblue;
    }
    .groupName:hover {
        color: black;
    }

    .center{
    margin: auto;
    text-align: center;
    }

    .btn-group {
        margin-top: 5px;
        margin-bottom: 5px;
    }

/*
hover
 */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/**
buttons
*/
.button {
    border: cadetblue;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}
.button {
    background-color: white;
    color: #565f60;
    border: 1.5px solid #565f60;
}

.button:hover {
    background-color: #565f60;
    color: white;
}

    /*
     * Sidebar general
     */
    .sidebar-list-items a {
        color: cadetblue;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .sidebar-list-items a:visited{
        color: cadetblue;
        cursor: default;
        text-decoration: none;
    }

    .sidebar-list-items a:hover {
        color: black;
    }

    .sidebar-list p{
        font-size: 14px;
    }


@media screen and (orientation: landscape) {
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 59px;
    }

    /*
     * TOP NAVBAR STYLING LANDSCAPE
     */
    .navbar-brand.logo img{
        transform: translateX(-5px);
    }

    .navbar-brand.text{
        font-size: 18px;
        color: cadetblue;
        transform: translateX(0px);
        transform: translateY(5px);
    }

    /*
     * SIDEBAR STYLING LANDSCAPE
     */
    .sidebar-wrapper {
        display: flex;
        position: fixed;
    }


    .sidebar-list {
        padding-top: 30px;
        padding-bottom: 50px;
        background-color: #3d3b3b;
        min-width: 70px;
        max-width: 70px;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }


    .sidebar-list-items.aboutlink{
        margin-top: auto;
    }

    /*
     * PAGE CONTENT STYLING LANDSCAPE
     */
    #page-content {
        margin-left: 70px;
        top: 0px;
        position: relative;
        background-color: lightgrey;
        height: 100%;
    }




/*
 * Google icons LANDSCAPE
 */
    /* Rules for sizing the icon. */
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 34px; }
    .material-icons.md-48 { font-size: 48px; }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
}

@media screen and (orientation: portrait) {

    /*
     * TOP BAR STYLING PORTRAIT
     */

    .navbar-brand.text{
        font-size: 0;
    }

    .username{
        font-size: 0px;
        padding-right: 3px;
        color: cadetblue;
    }

    /*
     * SIDEBAR STYLING PORTRAIT
     */
    .sidebar-wrapper {
        position: fixed;
        background-color: #3d3b3b;
        bottom: 0px;
        height: 65px;
        width: 100%;
        z-index: 1;
    }

    .sidebar-list {
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .sidebar-list-items {
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
        color: cadetblue;
    }
    .sidebar-list-items.aboutlink{
        display: none;
    }


    /*
     * PAGE CONTENT STYLING PORTRAIT
     */
    #page-content {
        background-color: lightgrey;
        margin-top: 60px;
        margin-bottom: 65px;
        padding-top: 3px;
        padding-bottom: 3px;
        position: relative;
        height: 100%;
    }

    /*
     * Google icons PORTRAIT
     */

    /* Rules for sizing the icon. */
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 22px; }
    .material-icons.md-48 { font-size: 48px; }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
}



/*
 * Top navbar stuff
 */
.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * COLORS:
Yellow:     #F7D61D
DarkOrange  #D17200
Orange:     #FF9516
Blue:       #00A5D2
DarkBlue:   #008BB1
LightBlue:  #00BFF3
Black:      #363636
DarkGray:   #636363
Gray:       #898989
 */