
/**
body {
      background: url(images/hhm_logo.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
*/
#logo {
      position: absolute;
      top: 0;
      left: 0;

      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
}


.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    opacity: 0.85;
    /* To center horizontally */
    margin: 0 auto;
}

.notOp{
      opacity: 1;
}
.modal {
      text-align: center;
}

.modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
}

.modal-dialog{
      display: inline-block;
      text-align: left;
      vertical-align: middle;

}
