/*
 * Base structure
 */

@media screen and (orientation: landscape) {
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 60px;
    }

    /*
     * TOP NAVBAR STYLING LANDSCAPE
     */
    .navbar-light{
        background-color: #3d3b3b;
    }
    .navbarcontainer{
        width: 100%;
    }
    .navbar-brand.logo{
        font-size: 18px;
        color: cadetblue;
    }

    .username{
        padding-right: 3px;
        color: cadetblue;
    }
    .account:hover .username{
        color: black;
    }

    .groupicon{
        color: cadetblue;
    }
    .groupicon:hover{
        color: black;
    }



    /*
     * SIDEBAR STYLING LANDSCAPE
     */

    .sidebar-wrapper {
        display: flex;
        position: fixed;
    }

    #sidebar {
        background-color: #3d3b3b;
        min-width: 85px;
        max-width: 85px;
        height: 100vh;
    }

    .sidebar-list {
        padding: 10px;
        text-align: center;
    }

    .sidebar-list-items {
        color: cadetblue;
    }

    .sidebar-list-items:hover {
        color: black;
    }

    /*
     * PAGE CONTENT STYLING LANDSCAPE
     */
    #page-content {
        margin-left: 85px;
        position: relative;
        background-color: lightsalmon;
        height: 100vh;
    }




/*
 * Google icons LANDSCAPE
 */
    /* Rules for sizing the icon. */
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 36px; }
    .material-icons.md-48 { font-size: 48px; }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
}

@media screen and (orientation: portrait) {

    /*
     * TOP BAR STYLING PORTRAIT
     */
    .navbar-light{
        background-color: #3d3b3b;
    }


    .navbar-brand.logo{
        font-size: 0;
    }
    .navbarcontainer{
        width: 100%;
    }
    .username{
        font-size: 0px;
        padding-right: 3px;
        color: cadetblue;
    }
    .account:hover .username{
        color: black;
    }

    .groupicon{
        color: cadetblue;
    }
    .groupicon:hover{
        color: black;
    }

    /*
     * SIDEBAR STYLING PORTRAIT
     */
    .sidebar-wrapper {
        display: flex;
        position: fixed;
        bottom: 0px;
        height: 65px;
        width: 100%;
    }

    #sidebar {
        background-color: #3d3b3b;
        height: 65px;
        width: 100%;
        bottom: 0;
        overflow: hidden;
        position: fixed;
    }

    .sidebar-list {
        padding: 10px;
        text-align: center;

    }

    .sidebar-list-items {
        float: left;
        margin-left: 10%;
        display: inline-block;
        position: relative;
        color: cadetblue;
    }

    .sidebar-list-items:hover {
        color: black;
    }

    /*
     * PAGE CONTENT STYLING PORTRAIT
     */
    #page-content {
        background-color: lightsalmon;
        position: relative;
        bottom: 65px;
        padding-bottom: 10px;
        height: 100vh;
        overflow-y: scroll;
    }

    /*
     * Google icons PORTRAIT
     */

    /* Rules for sizing the icon. */
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 24px; }
    .material-icons.md-48 { font-size: 48px; }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
}



/*
 * Top navbar stuff
 */
.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}