/*
 * Base structure
 */

@media screen and (orientation: landscape) {
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 60px;
    }

    /*
     * TOP NAVBAR STYLING LANDSCAPE
     */
    .navbar-light{
        background-color: #3d3b3b;
    }
    .navbarcontainer{
        width: 100%;
    }
    .navbar-brand.logo{
        font-size: 18px;
        color: cadetblue;
    }

    .username{
        padding-right: 3px;
        color: cadetblue;
    }
    .account:hover .username{
        color: black;
    }

    .groupicon{
        color: cadetblue;
    }
    .groupicon:hover{
        color: black;
    }
    .groupdropdown{
        background-color: cadetblue;
        left: -50%;
        right: -50%;
        transform: translateX(-30%);
    }



    /*
     * SIDEBAR STYLING LANDSCAPE
     */

    .sidebar-wrapper {
        display: flex;
        position: fixed;
    }

    #sidebar {
        background-color: #3d3b3b;
        min-width: 85px;
        max-width: 85px;
        height: 100vh;
    }

    .sidebar-list {
        padding: 10px;
        text-align: center;
    }

    .sidebar-list-items {
        color: cadetblue;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .sidebar-list-items:visited{
        color: cadetblue;
        cursor: default;
        text-decoration: none;
    }

    .sidebar-list-items:hover {
        color: black;
    }

    /*
     * PAGE CONTENT STYLING LANDSCAPE
     */
    #page-content {
        margin-left: 85px;
        top: 0px;
        position: relative;
        background-color: lightgrey;
        height: 100vh;
    }




/*
 * Google icons LANDSCAPE
 */
    /* Rules for sizing the icon. */
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 36px; }
    .material-icons.md-48 { font-size: 48px; }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
}

@media screen and (orientation: portrait) {

    /*
     * TOP BAR STYLING PORTRAIT
     */
    .navbar-light{
        background-color: #3d3b3b;
    }

    .navbar-brand.logo{
        font-size: 0;
    }
    .navbarcontainer{
        width: 100%;
    }
    .username{
        font-size: 0px;
        padding-right: 3px;
        color: cadetblue;
    }
    .account:hover .username{
        color: black;
    }

    .groupicon{
        color: cadetblue;
    }
    .groupicon:hover{
        color: black;
    }

    /*
     * SIDEBAR STYLING PORTRAIT
     */
    .sidebar-wrapper {
        display: inline-flex;
        position: fixed;
        bottom: 0px;
        height: 65px;
        width: 100%;
        z-index: 1;
    }

    #sidebar {
        background-color: #3d3b3b;
        height: 65px;
        width: 100%;
        bottom: 0;
        position: fixed;
    }

    .sidebar-list {
        padding: 10px;
        text-align: center;
    }

    .sidebar-list-items {
        float: left;
        margin-left: 10%;
        display: inline-block;
        position: relative;
        color: cadetblue;
    }

    .sidebar-list-items:hover {
        color: black;
    }
    .groupdropdown{
        background-color: cadetblue;
        left: -50%;
        right: -50%;
        transform: translateX(-30%);
    }

    /*
     * PAGE CONTENT STYLING PORTRAIT
     */
    #page-content {
        background-color: lightsalmon;
        margin-top: 60px;
        margin-bottom: 65px;
        padding-top: 3px;
        padding-bottom: 3px;
        position: relative;
    }

    /*
     * Google icons PORTRAIT
     */

    /* Rules for sizing the icon. */
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 24px; }
    .material-icons.md-48 { font-size: 48px; }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
}



/*
 * Top navbar stuff
 */
.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * COLORS:
Yellow:     #F7D61D
DarkOrange  #D17200
Orange:     #FF9516
Blue:       #00A5D2
DarkBlue:   #008BB1
LightBlue:  #00BFF3
Black:      #363636
DarkGray:   #636363
Gray:       #898989
 */