.shoppingListGrid {
    display: grid;
    grid-template-columns: [col1-start] 65% [col1-end col2-start] 35% [col2-end];
    grid-template-rows: [row1-start] 50% [row2-end row2-start] 25% [row2-end];
    grid-template-areas: "leftTop rightSideGrid"
                         "leftBottom  rightBottom";
    justify-items: stretch;
    min-width: 100%;
}

.listGrid {
    display: grid;
    grid-area: leftTop;
    justify-items: center;
}

.rightsideGrid {
    display: grid;
    grid-area: rightSideGrid;
    justify-self: center;
    align-self: start;
    width: 100%;
    padding-top: 4%;
    justify-items: center;
}

.leftBottom{
    display: grid;
    grid-area: leftBottom;
    justify-self: center;
    align-self: center;
    width: 100%;
    justify-items: center;
}









#dropdownShoppinglist{
    padding-top: 3%;
    padding-left: 45%;
}
.boughtMarked{
    background-color: lightgray;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background: #ffffff;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #00ff04;
}
.checkboxClass{
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
#user_return{
    background-color: darkblue;
}

#creatingShoppinglist td{
    min-width:250px;
}

/*--DROPDOWN--*/
.search_bttn {
    background-color: lightgray;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 1px #3d3b3b solid;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.search_results {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    overflow-y: scroll;
    min-width: 250px;
    height: 230px;
}

.links {
    color: black;
    padding: 6px;
    display: block;
}

.email_span{
    color: #909090;
}

.search_results .links:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .search_results {
    display: block;
}

.dropdown:hover .search_bttn {
    background-color: darkgray;
}

#shoppingTable{
    min-width: 400px;
}
#shoppingTable td{
    min-width: 150px;
}
#shoppingTable tr.item:hover{
    cursor: pointer;
    background-color: lightgray;
}
.selected{
    background-color: darkgray;
}
#shoppingTable tr.selected:hover{
    background-color: darkgray;
}