#dropdownShoppinglist{
    padding-left: 500px;
}
.boughtMarked{
    background-color: #01d100;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #dd0013;
}
.checkboxClass{
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
#user_return{
    background-color: darkblue;
}

#creatingShoppinglist td{
    min-width:250px;
}

/*--DROPDOWN--*/
.search_bttn {
    background-color: lightgray;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 1px #3d3b3b solid;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.search_results {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    overflow-y: scroll;
    min-width: 250px;
    height: 230px;
}

.links {
    color: black;
    padding: 6px;
    display: block;
}

.email_span{
    color: #909090;
}

.search_results .links:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .search_results {
    display: block;
}

.dropdown:hover .search_bttn {
    background-color: darkgray;
}