#button_row {
    padding-left: 10%;
}

#creatingTask{
    width: 500px;
    margin-left: 32%;
}

#creatingTask h1{
    /*margin-left: 18%;*/
}

#creatingTask table td.right_aligned{
    text-align: right;
}

#creatingTask table td button{
    margin-top: 10px;
    min-width: 86px;
}

#creatingTask table#createTable input{
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
}

#taskTable tr.truncateRow:hover{
    background-color: lightgray;
    cursor: pointer;
}

@media screen and (orientation:portrait) {
    #taskTable {
        display: table;
        width: 100%;
    }

    th.removePortrait{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
    td.removePortrait{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }

    .truncateTableHeader {
        display: table-header-group;
        max-width: 1px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: darkgray;
    }

    .truncateTableCell {
        display: table-cell;
        max-width: 1px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        /*background-color: yellow;*/
    }
    .info{
        background-color: whitesmoke;
        display: none;
    }
    .info tr{
        /*border: 1px solid black;*/
    }
    .info td{
        /*border: 1px solid black;*/
    }

    /*accept*/
    .info td.selectedTask{
        /*text-align: center;*/
        font-weight: bold;
        background-color: #bbbbbb;
        border-top: 1px solid #3d3b3b;
        border-right: 1px solid #3d3b3b;
        border-bottom: 1px solid #3d3b3b;
    }

    /*selected*/
    .info td.selectedTask:active{
        background-color:green;
    }
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #3add24;
}

